<!-- Footer -->

    <div class="footer">
        <div class="container">
            <p class="pull-left">%%Templates.copyline%%
                <a href="http://validator.w3.org/check?uri=http://edit_this_in_templates/BlueRed/footer.html/%%app.webroot%%">
                <img src="{{Template.getPath(img,w3c-valid-html5,gif)}}" alt="w3c validator"/></a>
            </p>
            <p class="pull-right">%%app.name%% -
                v.%%app.version%% <br>
                %%app.description%% <br>
                %%app.copyright%% by
                %%app.authorname%%
            </p>
        </div>
    </div>



    <script src="{{Template.getPath(js,jquery,js)}}"></script>
    <script src="{{Template.getPath(js,bootstrap_min,js)}}"></script>
  </body>
</html>
