<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="%%app.description%%">
	<meta name="author" content="%%app.authorname%%">    
    <title>%%app.title%%</title>

    <!-- Bootstrap -->
    <link href="{{Template.getPath(css,bootstrap,css)}}" rel="stylesheet">
    <!-- Style -->
    <link href="{{Template.getPath(css,bootstrap-theme,css)}}" rel="stylesheet">    
    <link href="{{Template.getPath(css,style,css)}}" rel="stylesheet">
    <link href="{{Template.getPath(css,login,css)}}" rel="stylesheet">    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{Template.getPath(js,html5shiv,js)}}"></script>
      <script src="{{Template.getPath(js,respond,js)}}"></script>
    <![endif]-->
  </head>
  <body role="document">




