		</div>
		<footer id="footer">
			<div class="center">
				<span class="copy">%%app.name%% - 
				v.%%app.version%% <br>
				%%app.description%% <br> 
				%%app.copyright%% by 
				%%app.authorname%%</span>
				%%Templates.copyline%%
			</div>
			<div class="center">
			<a href="http://validator.w3.org/check?uri=http://vigevanomusica.geckoslair.net//%%app.webroot%%">
				<img src="{{Template.getPath(img,w3c-valid-html5,gif)}}" alt="w3c validator"/>
			</a>
			</div>
		</footer>
	</div>
</body>
</html>
