<!DOCTYPE html>
<html>
<head>
	<title>%%app.title%%</title>
	<meta charset="utf-8" />
	<meta name = "viewport" content = "width=device-width, maximum-scale = 1, minimum-scale=1" />
	<link rel="stylesheet" type="text/css" href=" {{Template.getPath(css,default,css)}} " media="all" />
	<link rel="stylesheet" href=" {{Template.getPath(css,flexslider,css)}} " type="text/css" />
	<link rel="stylesheet" href=" {{Template.getPath(css,fixed-navigation,css)}} " type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />	
	<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script-->
	<script src=" {{Template.getPath(js,jquery-google,js)}} "></script>
	<script src=" {{Template.getPath(js,jquery-flexslider,js)}} "></script>
	<script src=" {{Template.getPath(js,default,js)}} "></script>  
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src=" {{Template.getPath(js,respond-min,js)}} "></script>
	<![endif]--> 
</head>
<body onload="initialize()">
	<div id="pagewidth">
