		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li class="active"><a href="#pagewidth"><span>gallery</span></a></li>
						<li><a href="#twoColumnLayout"><span>2 columns</span></a></li>
						<li><a href="#threeColumnLayout"><span>3 columns</span></a></li>
						<li><a href="#boxes"><span>boxes</span></a></li>
						<li><a href="#testiomonialsTab"><span>testimonials</span></a></li>
						<li><a href="#footer"><span>about</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
